@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #030012;
  --color-foreground: #f0f2f5;

  --color-card: #141a1f;

  --color-primary: #c284ce;
  --color-primary-foreground: #ffffff;

  --color-secondary: #3c3e4a;
  --color-secondary-foreground: #232948;

  --color-muted: #252e37;
  --color-muted-foreground: #7a8491;

  --color-border: #242b32;

  --radius: 0.75rem;

  --color-highlight: #f5a623;
  --color-surface: #1a2329;
}


@layer utilities {
  .alice {
    font-family: "Alice", serif;
  }
  .font-inria {
    font-family: "Inria Serif", serif;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(16px);
  }
}